<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>snapchat</string>
		<string>instagram </string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library to allow users to select profile pictures.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera to allow users to upload profile pictures</string>
	<key>CFBundleIdentifier</key>
	<string></string>
</dict>
</plist>
